body {
    background-image: url(/poiluvictorieux//imgindex/backindex.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}


/*------------------------------------------------> MENU*/


.menu {
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    align-content: center;
    position:fixed;
    top: 7px;
    left: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    margin-top: 20px;
    z-index: 10;
}

#ouvrir {
    margin-top: 6px;
    margin-left: 10px;
}

.button { 
    z-index: 42; 
    border-right: 1px solid rgba(203, 203, 203, 0.48);
    width:  20px; 
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #EEEEEE;
    position: fixed;;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    line-height: 48px; 
    -webkit-transition: all 0.2s ease-out; 
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;  
    
}

.button img{
    margin-left: -103px;
    margin-top: 30px;
    -webkit-transition: all 0.2s ease-out; 
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;  
/* SAFARI TRES VIELLE VERSION < 2.1 */
    -khtml-opacity:0; 
/* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -moz-opacity : 0; 
/* IE 8 ET COMPRIS PAR IE 10*/
    -ms-filter: "alpha(opacity=0)"; 
/* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0); 
/* IE 4 */
    filter : alpha(opacity=0); 
/* AUTRE */
    opacity : 0;
}

.button:hover img{
    margin-left: 56px;
    /* SAFARI TRES VIELLE VERSION < 2.1 */
    -khtml-opacity:0.5; 
/* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -moz-opacity : 0.5; 
/* IE 8 ET COMPRIS PAR IE 10*/
    -ms-filter: "alpha(opacity=50)"; 
/* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
/* IE 4 */
    filter : alpha(opacity=50); 
/* AUTRE */
    opacity: 0.5;
}

.button h1 {
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    font-size: 12px;
    text-transform: uppercase;
    color: none;
    visibility: hidden;
    margin-top: 20px;
    margin-left: -103px;
    text-align: center;
    line-height: 14px;
    -webkit-transition: all 0.2s ease-out; 
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;  
}

 .button:hover h1 {
    margin-left: 43px;
    color: rgba(31, 30, 30, 0.61);
     visibility: visible;
     
 }

.button ul {
    position: fixed;
    margin-top: 100px;
    margin-left: -170px;
    -webkit-transition: all 0.2s ease-out; 
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;  
    visibility: hidden
}

.button:hover ul{
    margin-left: 0px;
    margin-right: -20px;
    visibility: visible;
}

.button li {
    list-style: none;
    left: 0px;
    margin-left: -40px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border-bottom: 2px solid #ffffff;
    width: 170px;

}

.button p {
    margin:-8px 0px -8px 12px;
}

 .button:hover { 
     width: 170px;
     height: 100%;
     top: 0px;
     left: 0px;
     background-position: 12px;
     background-image: none;
  }

.button a {
    text-decoration: none;
    border:none;
    color: rgba(31, 30, 30, 0.61);
    background: none;
}

 .button:hover a {
    text-decoration: none;
    border:none;
    color: rgba(31, 30, 30, 0.61);
 }

.button a:hover {
    color: #000
}
  
.CGU {
    color: rgba(31, 30, 30, 0.61);
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(31, 30, 30, 0.61);
    border-top:1px solid rgba(31, 30, 30, 0.32);
    width:170px;
}

.CGU a {
    margin-left: 20px;
}

.CGU a:hover {
    color: black;
}

.button div {
    position: fixed;
    bottom: 0px;
    visibility: hidden;
    margin-left: -170px;
    -webkit-transition: all 0.2s ease-out; 
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;  
}

.button:hover div {
    visibility: visible;
    margin-left: 0px;
    background-color: #EEEEEE;
}

/*------------------------------------------------> INDEX*/


.introduction{
    background-color: rgba(255, 255, 255, 0.83);
    height: 220px;
    width: 470px;
    color: #4D4D4D;
    margin-left: auto;
    margin-right: auto;
    padding:10px 30px 0px 30px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 15%;
}

.introduction p {
    font-weight: 200;
    line-height: 19px;
    font-size: 14px;
}

.introduction h3 {
    font-weight:500;
    font-size: 16px;
    line-height: 16px;
}

.introduction h2 {
    line-height: 12px;
    font-weight: 500;
}

.go {
    -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background: -moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color: #ededed;
    -webkit-border-top-left-radius: 55px;
    -moz-border-radius-topleft: 55px;
    border-top-left-radius: 52px;
    -webkit-border-top-right-radius: 55px;
    -moz-border-radius-topright: 55px;
    border-top-right-radius: 55px;
    -webkit-border-bottom-right-radius: 55px;
    -moz-border-radius-bottomright: 55px;
    border-bottom-right-radius: 55px;
    -webkit-border-bottom-left-radius: 55px;
    -moz-border-radius-bottomleft: 55px;
    border-bottom-left-radius: 55px;
    text-indent: 0;
    border: 5px solid #FB9283;
    display: inline-block;
    color: #777777;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    height: 100px;
    line-height: 100px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    position: fixed;
    left: 45.5%;
    margin-top: 30px;
/* SAFARI TRES VIELLE VERSION < 2.1 */
    -khtml-opacity:0.8; 
/* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -moz-opacity : 0.8; 
/* IE 8 ET COMPRIS PAR IE 10*/
    -ms-filter: "alpha(opacity=80)"; 
/* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80); 
/* IE 4 */
    filter : alpha(opacity=80); 
/* AUTRE */
    opacity : 0.8;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;  
}
.go:hover {
	opacity: 1;
}

/*------------------------------------------------> SELECTION 1 (selection)*/
    

.back {
    width: 100%;
    height: 100%;
    position: fixed;
    margin-top: -8px;
    background-color: rgba(229, 229, 247, 0.35);
    z-index: 1;
}

.container h1 {
    position: fixed;
    z-index: 9;
    font-family: 'Ubuntu', sans-serif;
    color: #777777;
    font-weight: 600;
    left: 124px;
    top: 10px;
    font-size: 1.5em;
}

.choix {
    font-family: 'Ubuntu', sans-serif;
    color: #FA7A68;
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 600;
    position: absolute;
}

.selecteur {
    background-color: white;
    width: auto;
    height: auto;
    position: fixed;
    top: 80px;
    left: 40px;
    bottom: 20px;
    right: 20px;
    z-index: 2;   
    overflow: hidden;
}

.droite {
    display: -webkit-box;
    display: -o-box;
    display: -moz-box;
    display: box;
    position: inherit;
    left: 20%;
    width: 50%;
}


.rectangle{
	width: 49%;
    margin-left: 120px;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 650px;
    background-position: 95% -6%;
}

#allegorie {
    background-image: url(/poiluvictorieux/statues/stat3.png);
}

#endeuilli {
    background-image: url(/poiluvictorieux/statues/stat5.png);
}

#mourrant {
    background-image: url(/poiluvictorieux/statues/stat8.png);
    background-size: 600px;
    background-position: 96% -6%;
}

#sentinelle {
    background-image: url(/poiluvictorieux/statues/stat9.png);
    background-size: 600px;
}

.gauche {
    display: -webkit-box;
    display: -o-box;
    display: -moz-box;
    display: box;
    position: inherit;
    left: 20%;
}

.rectangle2{
	width: 49%;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 700px;
    background-position: 0% -5%;
    border-right: 10px solid white;
}

#mili {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -205px;
}

#aleg{
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -150px;
}

#guer {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -155px;
}

#ende {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -130px;
}

#millitaire {
    background-image: url(/poiluvictorieux/statues/stat4.png);
}

#victorieux {
    background-image: url(/poiluvictorieux/statues/stat6.png);
    background-size: 650px;
    background-position: 0% 17%;
}

#guerrier {
    background-image: url(/poiluvictorieux/statues/stat7.png);
    background-size: 600px;
    background-position: 7% -5%;
}

#guerriervictorieux {
    background-image: url(/poiluvictorieux/statues/stat10.png);
    background-size: 600px;
    background-position: 7% -5%;
}



.covopa {
    background-color: #959aa8;
    width: 49%;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
/* SAFARI TRES VIELLE VERSION < 2.1 */
    -khtml-opacity:0.5; 
/* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -moz-opacity : 0.5; 
/* IE 8 ET COMPRIS PAR IE 10*/
    -ms-filter: "alpha(opacity=50)"; 
/* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
/* IE 4 */
    filter : alpha(opacity=50); 
/* AUTRE */
    opacity : 0.5;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;  
}

.covopa:hover {
    background-color: #FA7A68;
}

.covopa2 {
    width: 49%;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background-color: #959aa8;
/* SAFARI TRES VIELLE VERSION < 2.1 */
    -khtml-opacity:0.5; 
/* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -moz-opacity : 0.5; 
/* IE 8 ET COMPRIS PAR IE 10*/
    -ms-filter: "alpha(opacity=50)"; 
/* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
/* IE 4 */
    filter : alpha(opacity=50); 
/* AUTRE */
    opacity : 0.5;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;  
}

.covopa2:hover {
    background-color: #FA7A68;
    
}

.gauche:hover {
    background-color: #FA7A68;
}

.image {
    width: 100%;
}


.indicateur {
    position: fixed;
    right: 35px;
    top: 23px;
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    z-index: 10;
}

.indicateur a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    padding: 5px 8px 5px 8px;
    margin-left: 0px;
    border-right: 1px solid #88888;
    text-decoration: none;
    color:rgba(119, 119, 119, 0.65);
    background-color: white;
}

.indicateur a:hover {
    background-color: rgba(255, 184, 175, 0.74);
    color: white;
}

a#actif {
    background-color: #FA7A68; 
    color: white;
}

.oubien {
    background-color: white;
    z-index: 29;
    width: 120px;
    height: 120px;
    position: absolute;
    border-radius: 60px;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -58px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 100;
}

p#oubientext {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -22px;
    margin-top: -17px;
    color: #7b7b7b;
}

/*------------------------------------------------> SELECTION MONUMENT 2 (choixstat)*/

.contentbox {
    background-color: white;
    width: auto;
    height: auto;
    position: fixed;
    top: 80px;
    left: 75px;
    bottom: 20px;
    right: 55px;
    z-index: 2;   
    overflow: hidden;
}

.contentbox2 {
    background-color: white;
    width: auto;
    height: auto;
    position: fixed;
    top: 80px;
    left: 17%;
    bottom: 20px;
    right: 17%;
    z-index: 2;   
    overflow: hidden;
}

.chevron {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: white;
    z-index: 100;
    position: fixed;
    top:46%;
    left:30px;
    text-align: center;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
}

.chevron i {
    font-size: 90px;
    margin-top: 5px;
    margin-left: -10px;
    color: #4D4D4D;
}

.chevron:hover {
    background-color: #fdc5bc;
}

.chevron2 {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    background-color: white;
    z-index: 100;
    position: fixed;
    top:46%;
    right:10px;
    text-align: center;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
}

.chevron2:hover {
    background-color: #fdc5bc;
}

.chevron2 i {
    font-size: 90px;
    margin-top: 5px;
    margin-left: 10px;
    color: #4D4D4D;
}


.boite1 {
    width: 33%;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    border-right: 10px solid white;
    z-index: 20;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 28%;
    background-position: 13% 54%;
}

.boite2 {
    width: 33%;
    margin-left: 0px;
    position: absolute;
    left: 34%;
    top: 10px;
    bottom: 10px;
    border-right: 10px solid white;
    z-index: 19;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 50% 65%;
}

.boite3 {
    width: 33%;
    margin-left: 120px;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    z-index: 18;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 93% 75%;
  
}

.boite2statues {
    width: 48%;
    position: absolute;
    left: 10px;
    top: 10px;
    bottom: 10px;
    z-index: 19;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 27%;
    background-position: 30% 50%;
    border-right: 10px solid white;
}

.boite2statues2 {
    width: 50%;
    margin-left: 120px;
    position: absolute;
    right: 10px;
    top: 10px;
    bottom: 10px;
    z-index: 18;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 69% 65%;
}


.cover1 {
    background-color: #959aa8;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    border-right: 10px solid white;
/* SAFARI TRES VIELLE VERSION < 2.1 */
    -khtml-opacity:0.5; 
/* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -moz-opacity : 0.5; 
/* IE 8 ET COMPRIS PAR IE 10*/
    -ms-filter: "alpha(opacity=50)"; 
/* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
/* IE 4 */
    filter : alpha(opacity=50); 
/* AUTRE */
    opacity : 0.5;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
    z-index: 25;
}

.cover1:hover {
    background-color: #FA7A68;
}

.cover2 {
    background-color: #959aa8;
    position: absolute;
    left: 5px;
    top: 0px;
    bottom: 0px;
    right: -10px;
    border-right: 10px solid white;
/* SAFARI TRES VIELLE VERSION < 2.1 */
    -khtml-opacity:0.5; 
/* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -moz-opacity : 0.5; 
/* IE 8 ET COMPRIS PAR IE 10*/
    -ms-filter: "alpha(opacity=50)"; 
/* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
/* IE 4 */
    filter : alpha(opacity=50); 
/* AUTRE */
    opacity : 0.5;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
    z-index: 25;
}

.cover2:hover {
    background-color: #FA7A68;
}

.cover3 {
    background-color: #959aa8;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 19px;
/* SAFARI TRES VIELLE VERSION < 2.1 */
    -khtml-opacity:0.5; 
/* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -moz-opacity : 0.5; 
/* IE 8 ET COMPRIS PAR IE 10*/
    -ms-filter: "alpha(opacity=50)"; 
/* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
/* IE 4 */
    filter : alpha(opacity=50); 
/* AUTRE */
    opacity : 0.5;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
    z-index: 24;
}

.cover3:hover {
    background-color: #FA7A68;
}

.textboitechoixstat {
    font-family: 'Ubuntu', sans-serif;
    color: #4D4D4D;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    text-align: center;
    bottom: 10px;
    margin: auto;
    width: 100%;
}

#victoireailee1 {
    background-image: url(/poiluvictorieux/statues/stat-choix1.png);
}

#victoireailee2 {
    background-image: url(/poiluvictorieux/statues/stat-choix2.png);
    background-position: 50% 62%;
}

#victoireaudrapeau {
    background-image: url(/poiluvictorieux/statues/stat-choix3.png);
    background-position: 93% 70%;
}

#victoireailee3 {
    background-image: url(/poiluvictorieux/statues/stat-choix4.png);
    background-position: 10% 54%;
}

#victoireailee4 {
    background-image: url(/poiluvictorieux/statues/stat-choix5.png);
    background-position: 51% 55%;
}

#victoireailee5 {
    background-image: url(/poiluvictorieux/statues/stat-choix6.png);
    background-size: 31%;
    background-position: 9% 54%;
}

#republique {
    background-image: url(/poiluvictorieux/statues/stat-choix7.png);
    background-position: 92% 63%;
}

#franceendeuillie {
    background-image: url(/poiluvictorieux/statues/stat-choix8.png);
}

/*------------------------------------------------> Presentation du monument */


.textpresa {
    position: absolute;
    left: 15px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 440px;
    height: 100%;
    background-color: white;
    z-index: 30;
}

h1#titrepresa {
    font-family: 'Ubuntu', sans-serif;
    color: #FA7A68;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 500;
    position: relative;
    z-index: 5;
    width: 600px;
    left: 10px;
    top: -5px;
    text-shadow: 0px 0px 30px #fff;
}

h3#soustitrepresa {
    font-family: 'Ubuntu', sans-serif;
    color: #FA7A68;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    z-index: 5;
    width: 600px;
    left: 10px;
    padding-top: 30px;
    text-shadow: 0px 0px 30px #fff;
}


p.labeurpresa {
    z-index: 5;
    position: relative;
    left: 10px;
    width: 400px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    padding-top: 0px;
    line-height: 18px;
    color: #4D4D4D;
    text-shadow: 0px 0px 30px #fff;
}

.labeurpresa a {
    text-decoration: none;
    color: #959aa8;
    padding-bottom: 2px;
    text-shadow: 0px 0px 30px #fff;
}

.labeurpresa a:hover {
    border-bottom:2px solid #959aa8;
}

p.labeurpresa2 {
    z-index: 5;
    position: relative;
    left: 10px;
    width: 250px; 
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    padding-top: 9px;
    line-height: 18px;
    color: #4D4D4D;
    text-shadow: 0px 0px 30px #fff;
}

p.labeurpresa2 span{
    margin-bottom: -10px;
    display: block;
    width: 162px;
    font-weight: 600;
    text-shadow: 0px 0px 30px #fff;
 
}

.images {
    z-index: 2;
    position: fixed;
    bottom: 20px;
    top: 20px;
    left: 45px;
    right: 20px;
    overflow: hidden;
    background-color: white;
}

.images2 {
    z-index: 2;
    position: fixed;
    bottom: 40px;
    top: 40px;
    left: 65px;
    right: 40px;
    overflow: hidden;
}

.images3 {
    z-index: 2;
    position: fixed;
    bottom: 40px;
    top: 40px;
    left: 500px;
    right: 40px;
    overflow: hidden;
}

img#vict-ailee-epee1 {
    width: 740px;
    position: absolute;
    margin-top: -370px;
    right: 190px;
/* SAFARI TRES VIELLE VERSION < 2.1 */
    -khtml-opacity:0.2; 
/* FIREFOX TRES VIELLE VERSION <= 0.9*/
    -moz-opacity : 0.2; 
/* IE 8 ET COMPRIS PAR IE 10*/
    -ms-filter: "alpha(opacity=20)"; 
/* IE > 4 et < 8 ET COMPRIS PAR IE 10*/
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20); 
/* IE 4 */
    filter : alpha(opacity=20); 
/* AUTRE */
    opacity : 0.2;
    z-index: 31;
}

img#vict-ailee-epee2 {
    width: 830px;
    position: absolute;
    margin-top: -530px;
    right: -130px;
}

img#vict-ailee-laurier1 {
    position: absolute;
    margin-top: -10px;
    right: -110px;
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    -ms-filter: "alpha(opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    filter: alpha(opacity=60);
    opacity: 0.6;
}

img#vict-drapeau1 {
    width: 680px;
    position: absolute;
    margin-top: -240px;
    right: 120px;
    -khtml-opacity: 0.2;
    -moz-opacity: 0.2;
    -ms-filter: "alpha(opacity=20)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    filter: alpha(opacity=20);
    opacity: 0.2;
}

img#vict-drapeau2 {
    width: 400px;
    position: absolute;
    margin-top: 0px;
    right: -50px;
}


img#vict-laurier1-1 {
    width: 740px;
    position: absolute;
    margin-top: -130px;
    right: 20px;
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    -ms-filter: "alpha(opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    filter: alpha(opacity=60);
    opacity: 0.6;
}

img#vict-laurier1-2 {
    width: 740px;
    position: absolute;
    margin-top: -210px;
    right: -110px;
}

img#vict-laurier2-1 {
    width: 750px;
    position: absolute;
    /* top: 50%; */
    margin-top: -180px;
    margin-left: 260px;
    -khtml-opacity: 0.2;
    -moz-opacity: 0.2;
    -ms-filter: "alpha(opacity=20)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    filter: alpha(opacity=20);
    opacity: 0.2;
}

img#vict-laurier2-2 {
    width: 570px;
    position: absolute;
    margin-top: -220px;
    right: -50px;
}

img#stat-republique {
    width: 420px;
    position: absolute;
    margin-top: -10px;
    right: 160px;
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    -ms-filter: "alpha(opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    filter: alpha(opacity=60);
    opacity: 0.6;
}

img#vict-laurier3 {
    width: 1080px;
    position: absolute;
    margin-top: -110px;
    right: -170px;
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    -ms-filter: "alpha(opacity=60)";
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
    filter: alpha(opacity=60);
    opacity: 0.6;
}

img#fra-deuil {
    width: 820px;
    position: absolute;
    margin-top: -110px;
    right: -40px;
}
.boutons {
    position: fixed;
    z-index: 20;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    bottom: 30px;
    text-align: center;
    left: 50%;
    margin-left: -172px;
    width: 3434x;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

.boutons a{
    text-decoration: none;
}


div#bouton1 {
    color: #4D4D4D;
    background-color: #d8d8d8;
    padding: 7px 10px 6px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
    border: 1px solid #cbcbcb;
}

div#bouton1:hover{
    background-color: #b7b7b7;
}

div#bouton2 {
    color:white;
    background-color: #FA7A68;
    padding: 6px 10px 6px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 33px;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
    border: 1px solid #fa6a56;
}

div#bouton2:hover{
    background-color: rgb(247, 82, 60);
    color:white;
}

/*------------------------------------------------> Socles */

.boutons-socle {
    position: fixed;
    z-index: 20;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    bottom: 30px;
    text-align: center;
    left: 50%;
    margin-left: -99px;
    width: 3434x;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

.boutons-socle a{
    text-decoration: none;
}
             
#slideshow {
    width: auto;
    height: auto;
    position: absolute;
    left: 65px;
    top: 80px;
    right: 40px;
    bottom: 20px;
    z-index: 9;
    overflow: hidden;
}
#sContent {
    position: absolute;
    display: flex;
    width: 1140px;
    top: 50%;
    margin-top: -120px;           
    padding: 0;
    z-index: 10;
    margin-left: 50%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#sContent img {
    width: 180px;
}

#sContent li {
    display: inline-block;
    margin: 0% 200px 0% 0%;
}

#slideshow .next, #slideshow .prev {
    position: absolute;
    top:50%;
    z-index: 20;
}
#slideshow .prev { 
    left: 50%;
    margin-left: -250px; 
}
#slideshow .next { 
    right: 50%;
    margin-right: -250px; 
}

/* initialisation */
#slideshow .next, #slideshow .prev { display: none; }
#slideshow .next1 { display: block; }

/* Vers 1ère étape */
#s1:target #sContent {
    left: -90px;
}
#s1:target .next, #s1:target .prev { display: none; }
#s1:target .next1 { display: block; }
#s1:target .bouton-next1 { display: block; }
#s1:target .bouton-next2 { display: none; }
#s1:target .bouton-next3 { display: none; }
#s1:target .text-next1 { display: block; }
#s1:target .text-next2 { display: none; }
#s1:target .text-next3 { display: none; }
#s1:target .socle1 {
    -khtml-opacity:1; 
    -moz-opacity : 1; 
    -ms-filter: "alpha(opacity=60)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
    filter : alpha(opacity=100); 
    opacity : 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#s1:target .socle2 {
    -khtml-opacity:0.4; 
    -moz-opacity : 0.4; 
    -ms-filter: "alpha(opacity=40)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40); 
    filter : alpha(opacity=40); 
    opacity : 0.4;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#s1:target .socle3 { 
    -khtml-opacity:0.4; 
    -moz-opacity : 0.4; 
    -ms-filter: "alpha(opacity=40)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40); 
    filter : alpha(opacity=40); 
    opacity : 0.4;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* Vers 2ème étape */
#s2:target #sContent { left: -470px; } /*ou -100%*/
#s2:target .next, #s2:target .prev { display: none; }
#s2:target .next2, #s2:target .prev2 { display: block; }
#s2:target .bouton-next1 { display: none; }
#s2:target .bouton-next2 { display: block; }
#s2:target .bouton-next3 { display: none; }
#s2:target .text-next1 { display: none; }
#s2:target .text-next2 { display: block; }
#s2:target .text-next3 { display: none; }
#s2:target .socle1 {
    -khtml-opacity:0.4; 
    -moz-opacity : 0.4; 
    -ms-filter: "alpha(opacity=40)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40); 
    filter : alpha(opacity=40); 
    opacity : 0.4;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#s2:target .socle2 {
    -khtml-opacity:1; 
    -moz-opacity : 1; 
    -ms-filter: "alpha(opacity=60)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
    filter : alpha(opacity=100); 
    opacity : 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#s2:target .socle3 { 
    -khtml-opacity:0.4; 
    -moz-opacity : 0.4; 
    -ms-filter: "alpha(opacity=40)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40); 
    filter : alpha(opacity=40); 
    opacity : 0.4;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* Vers 3ème étape */
#s3:target #sContent { left: -850px; } /*ou -200%*/
#s3:target .next, #s3:target .prev { display: none; }
#s3:target .prev3 { display: block; }
#s3:target .bouton-next1 { display: none; }
#s3:target .bouton-next2 { display: none; }
#s3:target .bouton-next3 { display: block; }
#s3:target .text-next1 { display: none; }
#s3:target .text-next2 { display: none; }
#s3:target .text-next3 { display: block; }
#s3:target .socle1 {
    -khtml-opacity:0.4; 
    -moz-opacity : 0.4; 
    -ms-filter: "alpha(opacity=40)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40); 
    filter : alpha(opacity=40); 
    opacity : 0.4;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#s3:target .socle2 {
    -khtml-opacity:0.4; 
    -moz-opacity : 0.4; 
    -ms-filter: "alpha(opacity=40)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40); 
    filter : alpha(opacity=40); 
    opacity : 0.4;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#s3:target .socle3 { 
    -khtml-opacity:1; 
    -moz-opacity : 1; 
    -ms-filter: "alpha(opacity=60)"; 
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
    filter : alpha(opacity=100); 
    opacity : 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#chevron-socle {
    width: 100px;
    height: 100px;
    text-align: center;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
    background-image: url(/poiluvictorieux/imgindex/chev1.png);
    background-repeat: no-repeat;
    background-position: 30px 27px;
    background-size: 30px;
}


#chevron-socle:hover {
    background-image: url(/poiluvictorieux/imgindex/chev1red.png);
}

#chevron2-socle {
    width: 100px;
    height: 100px;
    text-align: center;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
    background-image: url(/poiluvictorieux/imgindex/chev2.png);
    background-repeat: no-repeat;
    background-position: 38px 27px;
    background-size: 30px;
}

#chevron2-socle:hover {
    background-image: url(/poiluvictorieux/imgindex/chev2red.png);
}

.contentbox3 {
    background-color: white;
    width: auto;
    height: auto;
    position: fixed;
    top: 80px;
    left: 45px;
    bottom: 20px;
    right: 20px;
    z-index: 2;   
    overflow: hidden;
}

.statue-socle {
    position: absolute;
    z-index: 11;
    height: 230px;
    top: 50%;
    margin-top: -310px;
    left: 50%;
    margin-left: -72px;
    background-color: #ffffff;
}

.texte-socle {
    font-family: 'Ubuntu', sans-serif;
    width: 300px;
    position: absolute;
    right: 140px;
    bottom: 450px;
}

.texte-socle h2 {
    font-size: 20px;
    color: #FA7A68;
    font-weight: 500;
}

.texte-socle p {
    font-size: 14px;
    line-height: 18px;
    color: #4D4D4D;
}



/*------------------------------------------------> Socles */

.eptiaphe {
    position: absolute;
    width: 700px;
    height: 350px;
    margin-top: -175px;
    margin-left: -350px;
    background-color: #EEEEEE;
    z-index: 9;
    top: 50%;
    left: 50%;
}

.text-entree TEXTAREA {
    position: absolute;
    width: 620px;
    height: 250px;
    background-color: #EEEEEE;
    border: 2px solid #65d1ff;
    resize: none;
    margin-top: -125px;
    margin-left: -312px;
    top: 50%;
    left: 50%;  
    font-family: "times" serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: #bcbcbc;
    text-overflow: clip;
    overflow: hidden;
}

.text-entree TEXTAREA:focus {
    color: #6f6f6f; 
    box-shadow: 0 0 #ffffff;
}

.modification {
    position: absolute;
    bottom: -48px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 100;
    right: 92px;
    width: 200px;
    color: #4D4D4D;
    font-size: 14px;
}

#caracteres {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

#bouton-epitaphe {
    width: 92px;
    font-family: 'ubuntu';
    text-transform: uppercase;
    color:white;
    background-color: #FA7A68;
    padding: 6px 10px 6px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-left: 33px;
    -webkit-transition: all 0.5s ease-out; 
    -o-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; 
    border: 1px solid #fa6a56;
    text-decoration: none;
    position: absolute;
    bottom: -55px;
    right: 10px;
}

.eptiaphe a {
    text-decoration: none;
}

#bouton-epitaphe:hover{
    background-color: rgb(247, 82, 60);
    color:white;
}

.statuemini {
    position: absolute;
    z-index: 9;
    width: 10px;
    top: 50%;
    left: 50%;
    margin-left: -500px;
    margin-top: -160px;
}

.statuemini img {
    width: 80px;
}

img#statmin {
    width: 55px;
}

img#soclemin {
    margin-top: -20px;
    margin-left: -7px;
}
